<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.js"></script>
  <script>
  angular.module('App', [])
    .run(function($rootScope, $http) {
       
      $rootScope.list = null;
      $rootScope.listReady = false;
      $rootScope.listFailed = false;
      $http({method:'GET', url:'//localhost:8888/array'})
        .then(function(resp) {
          $rootScope.listReady = true;
          $rootScope.list = resp.data;
        }, function() {
          $rootScope.listFailed = true;
        });

      $rootScope.item = null;
      $rootScope.itemReady = false;
      $rootScope.itemFailed = false;
      $http({method:'GET', url:'//localhost:8888/object'})
        .then(function(resp) {
          $rootScope.itemReady = true;
          $rootScope.item = resp.data;
        }, function() {
          $rootScope.itemFailed = true;
        });

    });
  </script>
</head>
<body ng-app="App">
  
  <p>
    <b>List</b> 
    <span ng-if="!listReady">Loading&hellip;</span>
  </p>
  <div ng-if="listFailed">Failed to load the list</div>
  <ul ng-if="listReady && !listFailed">
    <li ng-repeat="item in list">[{{ item.id}}] {{ item.name}}</li>
  </ul>

  <p>
    <b>Item</b> 
    <span ng-if="!itemReady">Loading&hellip;</span>
  </p>
  <div ng-if="itemFailed">Failed to load the item</div>
  <div ng-if="itemReady && !itemFailed">
    [{{ item.id }}] {{ item.name }}
  </div>

</body>
</html>