<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.js"></script>
  <script src="resolve-to.js"></script>
  <script>
  angular.module('App', ['resolveTo'])
    .run(function($rootScope, $http, resolveTo) {
      $rootScope.list = resolveTo.array($http({method:'GET', url:'//localhost:8888/array'}));
      $rootScope.item = resolveTo.object($http({method:'GET', url:'//localhost:8888/object'}));
    });
  </script
</head>
<body ng-app="App">
  
  <p>
    <b>List</b> 
    <span ng-if="!list.$done">Loading&hellip;</span>
  </p>
  <xmp>
list           : {{ list }}
list.$done     : {{ list.$done }}
list.$resolved : {{ list.$resolved }}
list.$rejected : {{ list.$rejected }}
  </xmp>
  <div ng-if="list.$rejected">Failed to load the list</div>
  <ul ng-if="list.$done">
    <li ng-repeat="item in list">[{{ item.id}}] {{ item.name}}</li>
  </ul>

  <p>
    <b>Item</b> 
    <span ng-if="!item.$done">Loading&hellip;</span>
  </p>
  <xmp>
item           : {{ item }}
item.$done     : {{ item.$done }}
item.$resolved : {{ item.$resolved }}
item.$rejected : {{ item.$rejected }}
  </xmp>
  <div ng-if="item.$rejected">Failed to load the list</div>
  <div ng-if="item.$done">
    [{{ item.id }}] {{ item.name }}
  </div>

</body>
</html>